.chat-main

  .group-info
    .info-left__box
      .box-name 
        = @group.name
      .box-member__list 
        member:
        - @group.users.each do |user|
          =user.name
    = link_to edit_group_path(@group), class:"info-edit__bth" do
      Edit
    
  .message-list
    = render @messages
    

  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-box__input', placeholder: 'type a message'
      .message-box
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'image'
      = f.submit 'Send', class: 'send-box__btn'



